<div fxLayout="column">
  <mat-form-field>
    <input
      matInput
      name="duration_seconds"
      placeholder="Seconds ({{ durations.seconds }} minutes)"
      [(data)]="durations.seconds"
      fsDuration
      [seconds]="true">
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      name="duration_hour_minute"
      placeholder="Hours and minutes ({{ durations.hourMinute }} minutes)"
      [(data)]="durations.hourMinute"
      fsDuration>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      name="duration_day_hour"
      placeholder="Days and hours ({{ durations.dayHour }} minutes)"
      [(data)]="durations.dayHour"
      fsDuration
      [hours]="true"
      [days]="true">
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      name="duration_month_day"
      placeholder="Months and days ({{ durations.monthDay }} minutes)"
      [(data)]="durations.monthDay"
      fsDuration
      [days]="true"
      [months]="true">
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      name="duration_suffix_day_hour"
      placeholder="Days and hours with suffix ({{ durations.suffixDayHour }} minutes)"
      [(data)]="durations.suffixDayHour"
      fsDuration
      [suffix]="true"
      [hours]="true"
      [days]="true">
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      name="duration_suffix_day"
      placeholder="Days with suffix ({{ durations.suffixDay }} minutes)"
      [(data)]="durations.suffixDay"
      fsDuration
      [suffix]="true"
      [days]="true">
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      name="duration_hour_minute"
      placeholder="Full ({{ durations.full }} minutes)"
      [(data)]="durations.full"
      fsDuration
      [seconds]="true"
      [minutes]="true"
      [hours]="true"
      [days]="true"
      [months]="true"
      [years]="true">
  </mat-form-field>
</div>
