<div fxLayout="column">
  <mat-form-field>
    <input
      matInput
      name="duration_seconds"
      placeholder="Seconds ({{durations.secondsOld|number}} minutes)"
       [(ngModel)]="durations.seconds"
      fsDuration
      [seconds]="true"
      (fsChange)="changeSeconds($event)">
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      name="duration_hour_minute"
      placeholder="Hours and minutes ({{durations.hourMinuteOld|number}} minutes)"
       [(ngModel)]="durations.hourMinute"
      fsDuration
      [minutes]="true"
      [hours]="true"
      (fsChange)="changeHourMinute($event)">
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      name="duration_day_hour"
      placeholder="Days and hours ({{durations.dayHourOld|number}} minutes)"
      [(ngModel)]="durations.dayHour"
      fsDuration
      [hours]="true"
      [days]="true"
      (fsChange)="changeDayHour($event)">
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      name="duration_month_day"
      placeholder="Months and days ({{durations.monthDayOld|number}} minutes)"
      [(ngModel)]="durations.monthDay"
      fsDuration
      [days]="true"
      [months]="true"
      (fsChange)="changeMonthDay($event)">
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      name="duration_suffix_day_hour"
      placeholder="Days and hours with suffix ({{durations.suffixDayHourOld|number}} minutes)"
      [(ngModel)]="durations.suffixDayHour"
      fsDuration
      [suffix]="true"
      [hours]="true"
      [days]="true"
      (fsChange)="changeSuffixDayHour($event)">
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      name="duration_suffix_day"
      placeholder="Days with suffix ({{durations.suffixDayOld|number}} minutes)"
      [(ngModel)]="durations.suffixDay"
      fsDuration
      [suffix]="true"
      [days]="true"
      (fsChange)="changeSuffixDay($event)">
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      name="duration_hour_minute"
      placeholder="Full ({{durations.fullOld|number}} minutes)"
      [(ngModel)]="durations.full"
      fsDuration
      [seconds]="true"
      [minutes]="true"
      [hours]="true"
      [days]="true"
      [months]="true"
      [years]="true"
      (fsChange)="changeFull($event)">
  </mat-form-field>
</div>
