<div fxLayout="column">
  <mat-form-field>
    <input
      matInput
      name="duration"
      placeholder="{{ model }} {{ units[unit] }}"
      [(ngModel)]="model"
      fsDuration
      [seconds]="seconds"
      [minutes]="minutes"
      [hours]="hours"
      [days]="days"
      [months]="months"
      [years]="years"
      [unit]="unit"
      [inputUnit]="inputUnit">
  </mat-form-field>

  <fieldset>
    <legend>Format</legend>
    <mat-checkbox [(ngModel)]="seconds" (ngModelChange)="change()">Seconds</mat-checkbox>
    <mat-checkbox [(ngModel)]="minutes" (ngModelChange)="change()">Minutes</mat-checkbox>
    <mat-checkbox [(ngModel)]="hours" (ngModelChange)="change()">Hours</mat-checkbox>
    <mat-checkbox [(ngModel)]="days" (ngModelChange)="change()">Days</mat-checkbox>
    <mat-checkbox [(ngModel)]="months" (ngModelChange)="change()">Months</mat-checkbox>
    <mat-checkbox [(ngModel)]="years" (ngModelChange)="change()">Years</mat-checkbox>
  </fieldset>

  <fieldset>
    <legend>Unit</legend>
    <mat-radio-group [(ngModel)]="unit" (ngModelChange)="unitChange()">
      <mat-radio-button value="seconds">Seconds</mat-radio-button>
      <mat-radio-button value="minutes">Minutes</mat-radio-button>
      <mat-radio-button value="hours">Hours</mat-radio-button>
      <mat-radio-button value="days">Days</mat-radio-button>
    </mat-radio-group>
  </fieldset>

  <fieldset>
    <legend>Input Unit</legend>
    <mat-radio-group [(ngModel)]="inputUnit" (ngModelChange)="inputUnitChange()">
      <mat-radio-button value="seconds">Seconds</mat-radio-button>
      <mat-radio-button value="minutes">Minutes</mat-radio-button>
      <mat-radio-button value="hours">Hours</mat-radio-button>
      <mat-radio-button value="days">Days</mat-radio-button>
    </mat-radio-group>
  </fieldset>
</div>
